.flex 
{
	display: flex;
}

.column 
{
	flex-direction: column;
}

body 
{
	justify-content: space-between;
	height: 100vh;
	margin: unset;
	padding: 0 8px;
	background-image: linear-gradient(#606466, #dde1e2);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dark 
{
	background-image: linear-gradient(#7b8182, #131515);
	color: #eef0f3;
}

header 
{
	justify-content: space-between;
}

h1 
{
	all: unset;
	font-size: 2em;
	font-weight: 700;
	margin: 20px;
}

#dark-mode 
{
	align-items: center;
	font-size: 20px;
	gap: 25px;
	margin: 10px;
}

.switch 
{
	position: relative;
	display: inline-block;
	height: 60px;
	width: 34px;
}
	
.switch input 
{
	opacity: 0;
	width: 0;
	height: 0;
}
	
.slider 
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: grey;
	-webkit-transition: .4s;
	transition: .4s;
}
	
.slider:before 
{
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #c3123b;
	-webkit-transition: .4s;
	transition: .4s;
}
	
	input:checked + .slider 
	{
		background-color: #37474F;
	}
	
	input:focus + .slider 
	{
		box-shadow: 0 0 1px #37474F;
	}
	
	input:checked + .slider:before 
	{
		-webkit-transform: translateY(-26px);
		-ms-transform: translateY(-26px);
		transform: translateY(-26px);
	}
	
	.slider.round 
	{
		border-radius: 34px;
	}
	
	.slider.round:before 
	{
		border-radius: 50%;
	}

main 
{
	justify-content: center;
}

#calculator 
{
	justify-content: space-between;
	background-color: gray;
	width: 300px;
	border: 4px outset black;
	border-radius: 10px;
	box-shadow: 4px 4px 13px 2px #393939;
}

.dark #calculator 
{
	background-color: rgb(211, 211, 211);
	border: 4px outset white;
}

#screen 
{
	justify-content: center;
	align-items: center;
	background-color: #c9f8f8;
	height: 110px;
	margin: 10px;
	padding: 15px;
	border-radius: 10px;
	overflow-wrap: anywhere;
}

.dark #screen 
{
	background-color: #0e1618;
	color: white;
}

#expression 
{
		min-height: 30px;
		padding-left: 10px;
		font-size: 25px;
}

#active-num 
{
		align-self: flex-end;
		min-height: 45px;
		font-size: 38px;
}


#button-container 
{
	justify-content: space-between;
	height: 335px;
	width: 270px;
	padding: 10px 10px;
	background-color: #22282a;
    border-radius: 32px;
    margin: 5px;
}

.dark #button-container 
{
	background-color: #eef0f3;
}

.button-row 
{
	align-items: center;
	justify-content: space-between;
}


.button 
{
	justify-content: center;
	align-items: center;
	background-color: #fbfdfd;
	color: #0e1618;
	border-radius: 20px;
	width: 60px;
	height: 60px;
	font-size: 25px;
	font-weight: 700;
}

.button:hover 
{
	background-color: grey;
	scale: 1.01;
	transition: 0.2s;
	transform: translateY(-1px);
	box-shadow: 0px 2px 2px 1px black;
}
		
.dark .button 
{
	background-color: #22282a;
	color: white;
}

.dark .button:hover 
{
	background-color: dimgray;
}

#rowAC .button 
{
	background-color: #bd505d;
    color: #0e1618;
}

#rowAC .button:hover 
{
	background-color: skyblue;
}

.dark #rowAC .button 
{
	background-color: #bd505d;
	color: white;
}

.dark #rowAC .button:hover 
{
	background-color: dimgray;
}

#button-container .button-row :last-child 
{
	background-color: #fbfdfd;
	color: #0e1618;
	font-size: 30px;
}

#button-container .button-row :last-child:hover 
{
	background-color: #d8d9d9;
}

.dark #button-container .button-row :last-child 
{
	background-color: #0e1618;
	color: #fbfdfd;
}

.dark #button-container .button-row :last-child:hover 
{
	background-color: dimgray;
}
		
