:root 
{
	--off-black: #0e1618;
}

:root.light 
{
	--background-gradient: linear-gradient(gray, skyblue);
	--header-text-color: black;

	--calc-background: var(--off-black);
	--calc-border: 4px outset gray;
	--calc-shadow: 4px 4px 13px 2px darkgray;

	--screen-background: lightblue;;
	--screen-text-color: black;

	--button-container-background: black;
	--button-background:  lightgray;
	--button-background-hover: lightgray;
	--button-text-color: var(--off-black);

	--rowAC-background: #c3123b;
	--rowAC-text-color: var(--off-black);
	--rowAC-background-hover: lightgray;

	--opr-column-background: #fbfdfd;
	--opr-column-background-hover: #d8d9d9;
	--opr-column-text-color: var(--off-black);
}

:root.dark 
{
	--background-gradient: linear-gradient(#7b8182, #131515);
	--header-text-color: #eef0f3;

	--calc-background: rgb(211, 211, 211);
	--calc-border: 4px outset #eeeeee;
	--calc-shadow: 4px 4px 13px 2px var(--off-black);

	--screen-background: var(--off-black);
	--screen-text-color: white;

	--button-container-background: #eef0f3;
	--button-background:  #22282a;
	--button-background-hover: dimgray;
	--button-text-color: white;

	--rowAC-background: var(--off-black);
	--rowAC-text-color: #c3123b;

	--opr-column-background: var(--off-black);
	--opr-column-text-color: #fbfdfd;
}

.flex 
{
	display: flex;
}

.column 
{
	flex-direction: column;
}

body 
{
	justify-content: space-between;
	height: 100vh;
	margin: unset;
	padding: 0 8px;
	background-image: var(--background-gradient);
	color: var(--header-text-color);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header 
{
	justify-content: space-between;
}

#dark-mode-text 
{
	text-transform: capitalize;
}

h1 
{
	all: unset;
	font-size: 2em;
	font-weight: 700;
	margin: 20px;
}

#dark-mode 
{
	align-items: center;
	font-size: 20px;
	gap: 25px;
	margin: 10px;
}

.switch 
{
	position: relative;
	display: inline-block;
	height: 60px;
	width: 34px;
}
	
.switch input 
{
	opacity: 0;
	width: 0;
	height: 0;
}
	
.slider 
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: darkslategray;
	-webkit-transition: .4s;
	transition: .4s;
}
	
.slider:before 
{
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #c3123b;
	-webkit-transition: .4s;
	transition: .4s;
}
	
	input:checked + .slider 
	{
		background-color: #37474F;
	}
	
	input:focus + .slider 
	{
		box-shadow: 0 0 1px #37474F;
	}
	
	input:checked + .slider:before 
	{
		-webkit-transform: translateY(-26px);
		-ms-transform: translateY(-26px);
		transform: translateY(-26px);
	}
	
	.slider.round 
	{
		border-radius: 34px;
	}
	
	.slider.round:before 
	{
		border-radius: 50%;
	}

main 
{
	justify-content: center;
}

#calculator 
{
	justify-content: space-between;
	background-color: var(--calc-background);
	width: 300px;
	border: var(--calc-border);
	border-radius: 10px;
	box-shadow: var(--calc-shadow);
}

#screen 
{
	justify-content: center;
	align-items: center;
	background-color: var(--screen-background);
	color: var(--screen-text-color);
	height: 110px;
	margin: 10px;
	padding: 15px;
	border-radius: 10px;
	overflow-wrap: anywhere;
}

#expression 
{
		min-height: 30px;
		padding-left: 10px;
		font-size: 25px;
}

#active-num 
{
		align-self: flex-end;
		min-height: 45px;
		font-size: 38px;
}


#button-container 
{
	justify-content: space-between;
	height: 335px;
	width: 270px;
	padding: 10px 10px;
	background-color: var(--button-container-background);
    border-radius: 32px;
    margin: 5px;
}


.button-row 
{
	align-items: center;
	justify-content: space-between;
}


.button 
{
	--button-w-h: 60px;
	justify-content: center;
	align-items: center;
	background-color: var(--button-background);
	color: var(--button-text-color);
	border-radius: calc(var(--button-w-h) / 3);
	--button-w-h: 60px;
	width: var(--button-w-h);
	height: var(--button-w-h);
	font-size: 25px;
	font-weight: 700;
}

.button:hover 
{
	background-color: var(--button-background-hover);
	scale: 1.01;
	transition: 0.2s;
	transform: translateY(-1px);
	box-shadow: 0px 2px 2px 1px black;
}

#rowAC .button 
{
	background-color: var(--rowAC-background);
    color: var(--rowAC-text-color);
}

#rowAC .button:hover 
{
	background-color: var(--rowAC-background-hover, var(--button-background-hover));
}

#button-container .button-row :last-child 
{
	background-color: var(--opr-column-background);
	color: var(--opr-column-text-color);
	font-size: 30px;
}

#button-container .button-row :last-child:hover 
{
	background-color: var(--opr-column-background-hover, var(--button-background-hover));
}
